


/* nav */
.nav{
    position: sticky;
    top:0;
}
.nav > ul {
    background-color: black;
    height: 28px;
}
.nav > ul > li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 25px;
    color: white;
}
.nav > ul > li:hover {
    background-color: white;
    color: black;
}
ul.sub-menu{
    position: absolute;
    background-color: white;
    color: black;
    list-style-type: none;
      width: 125px;
      padding-left:0px;
      margin-left: -25px;
    padding-top: 5px;
    opacity: 0;
}
ul.sub-menu li{
    padding-left:25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav li:hover .sub-menu{
    opacity: 1;
}
ul.sub-menu li:hover{
    color:white;
    background-color: crimson;
}
.nav > ul > li > ul > li > a{
    text-decoration: none;
/* nav */
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 6 / 4; }
    .div2 { grid-area: 1 / 4 / 3 / 6; }
    .div3 { grid-area: 3 / 4 / 6 / 6; }
    
    